
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>We are Lion Share Inc., we really like lions and are excited to tell the world about them.</p>
    <p>We have been operating since 1764, which is the year lions were invented.</p>
    <p>Our goal is to spread knowledge of lions around the world to classrooms and open minds, so that people can understand their way of life.</p>
    <p>If you are interested in our goals, or want to work with us, please contact us <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here</a></p>
</div>