
@{
    ViewData["Title"] = "Anatomy";
}

    <div class="text-center">
        <h1 class="display-4">Anatomy</h1>
        <p>
            Of all the felines the Lion is the tallest one. They are very powerful animals with long legs and shoulders that are very strong. They have long tails with a tassel of hair at the end of them. It isn’t fully understood why their tails have a tuft at the end like that. It doesn’t seem to serve any real purpose for them. They are also the only felines that feature such a design.
        </p>
        <p>
            They have powerful jaws with canine teeth that can be more than three inches long.
            The Lion has a skull that is longer and flatter than other felines. The overall size of these animals will depend on their living locations. The males are considerably larger than the females. The average size of the males ranges from 330 to 550 pounds. For the females they range in size from 260 to 400 pounds.
        </p>
        <img class="image" src="~/img/lion-anatomy-1.jpg" alt="Lion anatomy" />
        <p>In spite of being so heavy the Lion has a body that is built for them to be fast and agile. They are mainly made up of muscle with little body fat. They have not trouble at all when it comes to fast movements. They often are seen moving at slow speeds or resting during the day. However, when it is time for them to attack their prey they are lightening fast and very forceful. The males are very strong and often end up fighting with each other for mating rights.</p>
        <p>The male Lions are the only ones that feature the trademark mane. It is believed this plays a vital role in their dominance orders. The larger the mane is the bigger the male is perceived as being. The mane extends down the back of the neck as well as outward round the sides of the face. The females seem to be faster and more agile than the males. The fact that they are lighter can account for some of it. Yet this also have to do with the fact that the females do the hunting the majority of the time.</p>
        <p>All Lions have excellent vision and hearing which helps them to protect themselves and to find prey. They are very agile and they can climb very quickly. They aren’t as often seen up in trees like other felines though.</p>
        <p>It is very interesting that the Lion has a small heart. This means that they aren’t able to continue a chase for very long at all. They can reach top speeds of 50 miles per hour but only for a very limited amount of time. If they aren’t able to complete the kill immediately they will give up on it so that they are able to conserve energy.</p>
        <img class="image" src="~/img/lion-anatomy.jpg" alt="Lion anatomy" />
        <p>They are able to problem solve such as in their design of how to hunt and the roles that each of them will play within the pride. These types of decisions are a huge part of why the Lion has been able to survive for millions of years.</p>
        <p>Many people get the wrong impression about the Lion due to the fact that they are so often seen just laying around. Of all the felines they are the one that needs the most rest. This doesn’t mean that they can’t move when they need to though or that their body isn’t as well designed. They have more strength than they are often given credit for.</p>
    </div>

