
@{
    ViewData["Title"] = "Behaviour";
}

<div class="text-center">
    <h1 class="display-4">Behaviour</h1>
    <p>
        Lions spend much of their time resting; they are inactive for about 20 hours per day. Although lions can be active at any time, their activity generally peaks after dusk with a period of socialising, grooming and defecating. Intermittent bursts of activity continue until dawn, when hunting most often takes place. They spend an average of two hours a day walking and 50 minutes eating.
    </p>
    <img class="image" src="~/img/transparent-lion-laying.png" alt="Lion laying" />
</div>

