
@{
    ViewData["Title"] = "Communications";
}

    <div class="text-center">
        <h1 class="display-4">Communications</h1>
        <p>
            When resting, lion socialisation occurs through a number of behaviours; the animal's expressive movements are highly developed. The most common peaceful, tactile gestures are head rubbing and social licking, which have been compared with the role of allogrooming (social grooming between members of the same species) among primates.
        </p>
        <p>
            Head rubbing – the nuzzling of the forehead, face and neck against another lion – appears to be a form of greeting and is seen often after an animal has been apart from others or after a fight or confrontation. Males tend to rub other males, while cubs and females rub females.
        </p>
        <p>
            Social licking often occurs in tandem with head rubbing; it is generally mutual and the recipient appears to express pleasure. The head and neck are the most common parts of the body licked; this behaviour may have arisen out of utility because lions cannot lick these areas themselves.
        </p>
        <p>
            Lions have an array of facial expressions and body postures that serve as visual gestures. A common facial expression is the "grimace face" or flehmen response, which a lion makes when sniffing chemical signals and involves an open mouth with bared teeth, raised muzzle, wrinkled nose closed eyes and relaxed ears. Lions also use chemical and visual marking; males will spray and scrape plots of ground and objects within the territory.
        </p> 
        <p>
            The lion's repertoire of vocalisations is large; variations in intensity and pitch appear to be central to communication. Most lion vocalisations are variations of growling, snarling, meowing and roaring. Other sounds produced include purring, puffing, bleating and humming. Roaring is used to advertise its presence. Lions most often roar at night, a sound that can be heard from a distance of 8 kilometres (5.0 mi). They tend to roar in a very characteristic manner starting with a few deep, long roars that subside into a series of shorter ones.
        </p>
            <img class="image" src="~/img/lioness-on-rock.png" alt="Lion Communications" />
    </div>

