
@{
    ViewData["Title"] = "ContactUs";
}

<h1 class="text-center">Contact Us</h1>

    <p>
        Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.
    </p>

    <div class="row">


        <div class="col-12 m-auto">
            <form id="contact-form" name="contact-form" action="" method="POST">


                <div class="row">


                    <div class="col-8">
                        <div class="">
                            <label for="name" class="">Your name</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="">
                            <label for="email" class="">Your email</label>
                            <input type="text" id="email" name="email" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="">
                            <label for="subject" class="">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-8">

                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                        </div>

                    </div>
                </div>


            </form>

            <div class="text-center text-md-left mt-4">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>


    </div>

