@{
    ViewData["Title"] = "Diet Information";
}

<h1>@ViewData["Title"]</h1>

<p>What is a Lion's diet like?</p>

<img class="image" src="~/img/lion-eating.png" alt="a lion eating" />

<p>
    Lions are hypercarnivores, which means their diet consists of more that 70% meat. African lions prefer to hunt large ungulates, including
    <a href="https://www.thoughtco.com/fun-facts-about-zebras-1140742">zebra</a>, 
    African buffalo, gemsbok, 
    <a href="https://www.thoughtco.com/fun-facts-about-giraffes-4069410">giraffe</a>, 
    and wildebeest. They avoid very large (elephant, rhinoceros, hippopotamus) and very small (hare, monkey, hyrax, dik-dik) prey, but will take domestic livestock. A single lion can take down prey twice its size. In prides, lionesses hunt cooperatively, stalking from more than one direction to capture fleeing animals. Lions kill either by strangling their prey or by enclosing its mouth and nostrils to suffocate it. Usually, prey is consumed at the hunting site. Lions often lose their kills to hyenas and sometimes to crocodiles.
</p>