
@{
    ViewData["Title"] = "Habitat";
}

    <div class="container">
        <h1 class="display-4">Habitat</h1>

        <p>African lions live in scattered populations across Sub-Saharan Africa. The lion prefers grassy plains and savannahs, scrub bordering rivers and open woodlands with bushes. It is absent from rainforest and rarely enters closed forest. On Mount Elgon, the lion has been recorded up to an elevation of 3,600 m (11,800 ft) and close to the snow line on Mount Kenya. Lions occur in savannah grasslands with scattered acacia trees, which serve as shade. The Asiatic lion now only survives in and around Gir National Park in Gujarat, western India. Its habitat is a mixture of dry savannah forest and very dry, deciduous scrub forest.</p>
        @*--https://en.wikipedia.org/wiki/Lion#Behaviour_and_ecology*@

        
    </div>
