
@{
    ViewData["Title"] = "Mating";
}

<div class="text-center">
    <h1 class="display-4">Mating</h1>
    <p>As mammals, lions give birth to live offspring.</p>
    <p>The gestation period of a lion is 110 days.</p>
    <p>An average litter will contain 2 - 4 cubs.</p>
    <p>Baby lions will live with its pride until it is three years old. At this point it will either leave the pride or take over it, if there is no active leader.</p>
    <p>Do not Google this info on a work PC, it looks well dodge.</p>
    
    <img class="image" src="~/img/lion-with-family.png" alt="Lion family yay" />
</div>
