
@{
    ViewData["Title"] = "Pop Culture";
}

<div class="text-center">

    <h1>Pop Culture</h1>

    <p>
        The lion's role as "king of the beasts" has been utilized in a number of cartoons, from the Leonardo Lion of King Leonardo and His Short Subjects (1960–1963) series to the Disney animated feature film The Lion King (1994). Metro-Goldwyn-Mayer studios have used a lion as their logo since 1924. Five different lions have played Leo the Lion, the lion seen at the start of every MGM film.
        <ul>
            <li>The live action film Born Free (1966), based on the true story from the bestselling book of the same title, covered the story of the Kenyan lioness Elsa, and the efforts of Joy Adamson and her game-warden husband George to train Elsa for release back into the wild.</li>
            <li>Roar (1981) features numerous untrained lions, three of which were credited as actors. The lions did as they pleased on-set, so they also share writing and directing credits.</li>
            <li>The Ghost and the Darkness (1996) is a movie set in 1898. It is based on the true story of two lions in Africa that killed 130 people over a nine-month period, during the construction of a railroad bridge across the Tsavo River, in what is now Kenya. The local natives named the two lions, both males, "The Ghost" and "The Darkness".</li>
            <li>In 2005, the Kenyan lioness Kamuniak captured international attention when she adopted oryx calves, an animal species normally preyed upon by lions. She fought off predators and lion prides who attempted to eat her charges. Kamuniak's story was captured in the Animal Planet special Heart of a Lioness.</li>
        </ul>
    </p>
</div>